<%- include('../partials/header'); -%>
  <div class="m-5">
    Courses Page <br/>
    <a href="/">Home</a> <br/>
    <a href="/admin">Admin</a>

    <div class="d-flex flex-row mt-5">
      <% courses.forEach(function(course){ %>
        <script type="text/javascript">
          console.log("<%= course.departmentName %>");
        </script>
        <div class="p-2 m-1 bg-light">
          <p>Name: <%= course.name %></p>
          <p>Department: <%= course.departmentName %></p>
          <p>Code: <%= course.code %></p>
          <p>Description: <%= course.description %></p>
          <p>Grade: <%= course.grade %></p>
          <p>Pace: <%= course.pace %></p>
          <p>Prerequisites: <%= course.prereq %></p>
          <p>Teachers: <%= course.teachers %></p>
          <a href="/courses/<%= course.code %>">View Course</a>
          <br/>
          <form action="/courses/<%= course.code %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      <% }); %>
    </div>
  </div>

<%- include('../partials/footer'); -%>
