<%- include('../partials/header'); -%>

  <div class="container">
      <h1 class="mb-1"><%= course.code %></h1>
      <a href='/courses' class="btn btn-secondary">All Courses</a>
      <br/>
      <button type="button" class="btn btn-primary"><a class="text-white" href="/courses/<%= course.code %>/edit">Edit course</a></button>
      <br/>
      <button type="button" class="btn btn-warning"><a class="text-white" href="/courses/<%= course.code %>/reviews/new">Add Review</a></button>
  </div>

<%- include('../partials/footer'); -%>
