<%- include('../../partials/header'); -%>
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css">
  <script src="/js/bootstrap-multiselect.js"></script>

  <div class="m-5">
    Teacher Review Page <br/>
    <a href="/">Home</a> <br/>

    <form action="/teachers/<%= teacher.name.firstName %>_<%= teacher.name.lastName %>/<%= review._id %>/edit?_method=PUT" method="POST">
      <h5 class="mb-3">Edit Review</h5>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="metric1">Metric 1</label>
            <!-- use js to update this value based on what it is from the existing review -->
            <div class="radio">
                <label><input type="radio" name="metric1" id="metric1-1" value="1" required>1</label>
                <label><input type="radio" name="metric1" id="metric1-2" value="2">2</label>
                <label><input type="radio" name="metric1" id="metric1-3" value="3">3</label>
                <label><input type="radio" name="metric1" id="metric1-4" value="4">4</label>
                <label><input type="radio" name="metric1" id="metric1-5" value="5">5</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="metric2">Metric 2</label>
          <div class="radio">
              <label><input type="radio" name="metric2" id="metric2-1" value="1" required>1</label>
              <label><input type="radio" name="metric2" id="metric2-2" value="2">2</label>
              <label><input type="radio" name="metric2" id="metric2-3" value="3">3</label>
              <label><input type="radio" name="metric2" id="metric2-4" value="4">4</label>
              <label><input type="radio" name="metric2" id="metric2-5" value="5">5</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="form-group">
          <label for="metric3">Metric 3</label>
          <div class="radio">
            <label><input type="radio" name="metric3" id="metric3-1" value="1" required>1</label>
            <label><input type="radio" name="metric3" id="metric3-2" value="2">2</label>
            <label><input type="radio" name="metric3" id="metric3-3" value="3">3</label>
            <label><input type="radio" name="metric3" id="metric3-4" value="4">4</label>
            <label><input type="radio" name="metric3" id="metric3-5" value="5">5</label>
          </div>
        </div>
      </div>
    </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="grade">Comment Text</label>
            <textarea type="text" class="form-control" name="commentText" id="commentText" placeholder="Comment Text" required><%= review.commentText %></textarea>
          </div>
        </div>
        <div class="form-group">
            <label for="isAnonymous">Remain Anonymous</label>
            <div class="radio">
                <label><input type="radio" name="isAnonymous" id="isAnonymous-1" value="true" required>True</label>
                <label><input type="radio" name="isAnonymous" id="isAnonymous-2" value="false">False</label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save Review</button>
    </form>
    <script>
      if (<%= isAnonymous %>) {
        document.getElementById("isAnonymous-1").checked = true;
      } else {
        document.getElementById("isAnonymous-2").checked = true;
      }

      if (<%= metric1 === 1 %>) {
          document.getElementById("metric1-1").checked = true;
      } else if (<%= metric1 === 2 %>) {
        document.getElementById("metric1-2").checked = true;
      } else if (<%= metric1 === 3 %>) {
        document.getElementById("metric1-3").checked = true;
      } else if (<%= metric1 === 4 %>) {
        document.getElementById("metric1-4").checked = true;
      } else {
        document.getElementById("metric1-5").checked = true;
      }

      if (<%= metric2 === 1 %>) {
          document.getElementById("metric2-1").checked = true;
      } else if (<%= metric2 === 2 %>) {
        document.getElementById("metric2-2").checked = true;
      } else if (<%= metric2 === 3 %>) {
        document.getElementById("metric2-3").checked = true;
      } else if (<%= metric2 === 4 %>) {
        document.getElementById("metric2-4").checked = true;
      } else {
        document.getElementById("metric2-5").checked = true;
      }

      if (<%= metric3 === 1 %>) {
          document.getElementById("metric3-1").checked = true;
      } else if (<%= metric3 === 2 %>) {
        document.getElementById("metric3-2").checked = true;
      } else if (<%= metric3 === 3 %>) {
        document.getElementById("metric3-3").checked = true;
      } else if (<%= metric3 === 4 %>) {
        document.getElementById("metric3-4").checked = true;
      } else {
        document.getElementById("metric3-5").checked = true;
      }

    </script>
  </div>

<%- include('../../partials/footer'); -%>
