<%- include('partials/header'); -%>
  <%# Course Preferences Form
    To Do List:
      o Add DOM JS for disabling isAnonymous option when all comments and metrics are disabled.
      o Implement checked radios from existing options
  %>

  <div class="m-5">
    <a href="/">Home</a> <br/>
    <a href="/courses">Courses</a> <br/>
    <a href="/admin/courses/new">Add Course</a>
  </div>

  <form class="m-5" action="/admin" method="POST">
    <h5 class="mb-3">Course Catalogue Configurations: <br/></h5>
    <div class="form-group">
      <div class="pr-3">Is Public:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isPublic" id="public-1" value="true" required>
        <label class="form-check-label" for="public-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isPublic" id="public-2" value="false">
        <label class="form-check-label" for="public-2">False</label>
      </div>
    </div>
    <div class="form-group">
      <div class="pr-3">Course Metrics:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="course_hasMetrics" id="course-hasMetrics-1" value="true" required>
        <label class="form-check-label" for="course-hasMetrics-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="course_hasMetrics" id="course-hasMetrics-2" value="false">
        <label class="form-check-label" for="course-hasMetrics-2">False</label>
      </div>
    </div>
    <div class="form-group">
      <div class="pr-3">Course Comments:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="course_hasComments" id="course-hasComments-1" value="true" required>
        <label class="form-check-label" for="course-hasComments-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="course_hasComments" id="course-hasComments-2" value="false">
        <label class="form-check-label" for="course-hasComments-2">False</label>
      </div>
    </div>
    <div class="form-group">
      <div class="pr-3">Teacher Metrics:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="teacher_hasMetrics" id="teacher-hasMetrics-1" value="true" required>
        <label class="form-check-label" for="teacher-hasMetrics-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="teacher_hasMetrics" id="teacher-hasMetrics-2" value="false">
        <label class="form-check-label" for="teacher-hasMetrics-2">False</label>
      </div>
    </div>
    <div class="form-group">
      <div class="pr-3">Teacher Comments:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="teacher_hasComments" id="teacher-hasComments-1" value="true" required>
        <label class="form-check-label" for="teacher-hasComments-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="teacher_hasComments" id="teacher-hasComments-2" value="false">
        <label class="form-check-label" for="teacher-hasComments-2">False</label>
      </div>
    </div>
    <div class="form-group">
      <div class="pr-3">Force Anonymous Reviews:</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isAnonymous" id="anonymousReviews-1" value="true" required>
        <label class="form-check-label" for="anonymousReviews-1">True</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isAnonymous" id="anonymousReviews-2" value="false">
        <label class="form-check-label" for="anonymousReviews-2">False</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <script type="text/javascript">
    if (<%= isPublicVar %>) {
      document.getElementById("public-1").checked = true;
    } else {
      document.getElementById("public-2").checked = true;
    }

    if (<%= courseMetricsVar %>) {
      document.getElementById("course-hasMetrics-1").checked = true;
    } else {
      document.getElementById("course-hasMetrics-2").checked = true;
    }

    if (<%= courseCommentsVar %>) {
      document.getElementById("course-hasComments-1").checked = true;
    } else {
      document.getElementById("course-hasComments-2").checked = true;
    }

    if (<%= teacherMetricsVar %>) {
      document.getElementById("teacher-hasMetrics-1").checked = true;
    } else {
      document.getElementById("teacher-hasMetrics-2").checked = true;
    }

    if (<%= teacherCommentsVar %>) {
      document.getElementById("teacher-hasComments-1").checked = true;
    } else {
      document.getElementById("teacher-hasComments-2").checked = true;
    }

    if (<%= isAnonymousVar %>) {
      document.getElementById("anonymousReviews-1").checked = true;
    } else {
      document.getElementById("anonymousReviews-2").checked = true;
    }
  </script>
<%- include('partials/footer'); -%>
