<%- include('../partials/header'); -%>
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css">
  <script src="/js/bootstrap-multiselect.js"></script>

  <style>
    .btn-group, .btn-group-vertical {
      flex-direction: column;
      align-items: flex-start;
    }

    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      margin-top: 5px;
      max-height: 200px;
      overflow-y: scroll;
      width: 350px;
    }

    .multiselect-container .input-group {
      margin: 0px;
      padding: 1rem;
    }

    .multiselect-container>li>a>label {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
    }

    .multiselect-filter {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .input-group-addon {
      width: 25px;
    }

    .multiselect-search {
      width: 75px !important;
      margin-right: 1rem;
      margin-left: 0.25rem;
    }
  </style>

  <div class="m-5">
    Teachers Page <br/>
    <a href="/">Home</a> <br/>
    <a href="/teachers">Teachers</a> <br/>
    <a href="/admin">Admin</a>

    <form class="m-5" action="/teachers/<%= teacher.name.firstName %>_<%= teacher.name.lastName %>?_method=PUT" method="POST">
      <h5 class="mb-3">Edit Teacher</h5>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="name">Teacher First Name</label>
            <input type="text" class="form-control" name="teacherFirstName" id="firstname" placeholder="Teacher First Name" value="<%= teacher.name.firstName %>"required>
          </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label for="name">Teacher Last Name</label>
              <input type="text" class="form-control" name="teacherLastName" id="lastname" placeholder="Teacher Last Name" value="<%= teacher.name.lastName %>" required>
            </div>
          </div>
        <div class="col">
          <div class="form-group">
            <label for="code">Preffered Title</label>
            <input type="text" class="form-control" name="prefferedTitle" id="prefferedtitle" placeholder="Preffered Title" value="<%= teacher.prefferedTitle %>" required>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="code">Profile Picture</label>
          <input type="text" class="form-control" name="profilePicture" id="profilepicture" placeholder="Profile Picture" value="<%= teacher.profilePicture %>" required>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#teachercourses').multiselect({
                enableFiltering: true,
                filterBehavior: 'value',
                enableCaseInsensitiveFiltering: true
            });
        });
      </script>
      <div class="mt-2 mb-4">
        <label for="courses">Courses</label> <br/>
        <select class="mb-3" id="teachercourses" multiple="multiple" name="courses[]">
          <% for (let course of courses) { %>
            <% if (teacher.courses.includes(course.code)) { %> 
            <option value="<%= course.code %>" selected><%= course.code %></option>
            <% } else { %> 
            <option value="<%= course.code %>"><%= course.code %></option>
            <% } %> 
          <% } %>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Edit Teacher</button>
    </form>
  </div>

<%- include('../partials/footer'); -%>
